<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller.controller_name.titlecase %> <%= controller.action_name.titlecase %></title>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "init" %>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'styles' %>
  <meta name="viewport" content="width=640, initial-scale=1.0, user-scalable=yes">
  <meta name="apple-mobile-web-app-capable" content="yes" />
</head>
<body>
	
	<% if flash[:warning] or flash[:notice] %>
	  <div id="notice" <% if flash[:warning] %>class="warning"<% end %>>
	    <%= flash[:warning] || flash[:notice] %>
	  </div>
	<% end %>

<%= yield  %>

</body>
</html>
